;
$smallScreen:768px;
$mediumScreen:992px;
$largeScreen:1200px;

.toggle{
	display:none;
	position:absolute;
	top:50%;
	right:.2rem;
	
	box-sizing:border-box;
	width:auto;
	height:65%;
	padding:0 10px;

	border:none;
	border-radius:5px;
	box-shadow: 0 0 1px #ccc;
	
	cursor: pointer;
	transform: translateY(-50%) rotate(90deg)  ;
}
.root{
	margin:0 auto;
	width:96rem;
	width:960px;
	height:100%;
	line-height:60px;
	line-height: .6rem;
	text-align: left;
	color:#a7b0cf;

}
.menu-item{
	float:left;
}
.menu-item:first-child{
	padding-left:30px;
	padding-left:.3rem;
}
.menu-item a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:.6rem;
	padding: 0 25px;
	padding: 0 .25rem;
	font-size:.16rem;
	text-decoration: none;
	color:#a7b0cf;
}
.menu-item a:hover{
	color:#fff;
}



@media (max-width: $mediumScreen) {
	.root{
		width:100%;
	}
}

@media (max-width:$smallScreen){
	.toggle{
		display:block ;
	}
	.toggle:active + .root{
		display:block;
	}

	.root{
		display:none;
		width:100%;
		height:auto;
		position:absolute ;
		top:100%;
		left:0;
		background-color: #666;
		z-index: 2;
	}
	
	.menu-item{
		float:none;
		text-align:center;
	}
	.menu-item:first-child{
		padding:0;
		margin:0;
	}
}
